.gf-map {
    width: 100%;
    height: 300px;
}
.preview-frame {
    width: 100%;
    height: 200px;
    border: 0;
}
#mapDiv {
    height: 100%;
    width: 100%;
    position: relative;
}
#pushpinSymbol {
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}
/* Style for Loading Indicator*/

.app-loading {
    overflow: hidden;
}
.app-loading .loading-indicator {
    display: block;
}
.app-loading .app-content {
    visibility: hidden;
}
.app-content {
    visibility: visible;
}
.submit-area {
    margin-bottom: 40px;
}
.loading-indicator {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
    color: #000;
    opacity: 1;
}
.loading-error {
    display: none;
    width: 30%;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -20px 0 0 -15%;
    font-size: 16px;
    line-height: normal;
}
.icon-loading {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -20px 0 0 -20px;
    font-size: 40px;
    line-height: 40px;
}
.app-error .icon-loading {
    display: none;
}
.app-error .loading-indicator {
    display: block;
}
.app-error .loading-error {
    display: block;
}
#geoform .table > thead > tr > th,
#geoform .table > tbody > tr > th,
#geoform .table > tfoot > tr > th,
#geoform .table > thead > tr > td,
#geoform .table > tbody > tr > td,
#geoform .table > tfoot > tr > td {
    vertical-align: middle;
}
#geoform .progress-remove-margin {
    margin-bottom: 0px;
    margin-top: 10px;
}
/* Extra Small Devices, Phones */

@media (min-width: 480px) {
    .gf-map {
        height: 300px;
    }
    .preview-frame {
        height: 400px;
    }
}
/* Small Devices, Tablets */

@media (min-width: 768px) {
    .gf-map {
        height: 350px;
    }
    .preview-frame {
        height: 500px;
    }
}
/* Medium Devices, Desktops */

@media (min-width: 992px) {
    .gf-map {
        height: 450px;
    }
    .preview-frame {
        height: 500px;
    }
}
/* Large Devices, Wide Screens */

@media (min-width: 1200px) {
    .gf-map {
        height: 500px;
    }
    .preview-frame {
        height: 600px;
    }
}
#geoform .iconClass {
    font-size: 40px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}
.progress-percent {
    width: 100%;
    line-height: 50px;
}
input::-ms-clear {
    display: none;
}
#geoform .esriSimpleSlider {
    z-index: 0;
}
.tableDimension {
    min-width: 180px;
}
.tableDimension2 {
    min-width: 100px;
}
.geocoder-container {
    position: relative;
    z-index: 50;
}
.requireFieldStyle {
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
}
/* fix for popup close */

.titlePane .close,
.titlePane .close:hover {
    float: none;
    opacity: 1;
    font-size: inherit;
    font-weight: normal;
    text-shadow: none;
}
.submit-container {
    display: inline-block;
}
.webmap-thumb {
    display: inline-block;
}
/*** Esri Map ***/

.map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 100%;
    text-align: left;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.map * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.map > img {
    text-align: left;
}
/*** Restyle Esri Zoomin-out ***/

.esriSimpleSlider {
    border: 1px solid #cccccc;
    top: 15px;
    left: 15px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #cccccc;
}
/*** Fix Bootstrap modal bug ***/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
    margin-top: 0;
}
.map-div table {
    background: transparent;
}
.drag-cursor {
    cursor: ns-resize;
}