/* General */

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.mainContainer
{
    height: 100%; 
    width: 100%;
}
.headerWrapper .dijitContentPane
{
    overflow: initial !important;
}
.headerPanel
{
    background-color: #F8F8F8;
    height: 46px;
    z-index:999999;
    width: 100%;
}

.BasemapToggle 
{
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 35;
    -webkit-box-sizing: content-box;

}
.BasemapToggle .basemapTitle
{
    width: 100% !important;
}
.leftPanelContainer
{
    width: 250px;
    border-right: 1px solid #ddd;
}
.mapDiv
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.topBar
{
    position: absolute;
    z-index: 36;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    height: 44px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.appTitle
{
    color: #007ac2;
    line-height: 44px;
    font-size: 18px;
    font-weight: 700;
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin-left: 15px;
}

.panelHeader
{
    font-size: 25px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.panelBody
{
    height: 100%;
    width: 100%;
}
.legendPanelBody
{
    padding: 10px;
    display: none;
    overflow: auto;
}
.aboutusPanelBody
{
     padding: 10px;
     display: none;
     overflow: auto;
}
.sortOptionDiv
{
    width: 100%;
    padding: 0px 0px 10px 10px;
}
.sortSelect
{
    float: left;
    max-width: 140px;
}
.btnSortByOrder
{
    margin-left: 10px;
    width: 60px;
    float: left;
    margin-bottom: 5px;
}
.formlist
{
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x:hidden;
}
.formListContent
{
    cursor: pointer;
}
.editButton
{
    position: absolute;
    right: 18px;
    top: 4px;
    padding: 5px 15px !important;
}
.listGroupItem
{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
li.list-group-item:hover
{
    background-color: #eee;
}
.submitFormNode
{
    text-align: center;
}
#geoform .shareIconClass
{
    font-size: 25px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}
#geoform .shareIconClass:hover
{
    color: #333;
}

.featureDetailsContainer
{
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 60%;
    /*min-width: 300px;*/
    right: auto;
    display: none;
}

.featureDetailsBody
{
    max-height: 130px;
    overflow-y: auto;
}

.featureDetailsContainer .panel-heading
{
    text-align:center;
}

.panel-title, .panel-middle, .panel-button
{
    display: inline-block;
}

.panel-title
{
    float:left;
}

.panel-button
{
    float:right;
}

.panel-middle .pager
{
    margin:0px !important;
}


.locateBox
{
    float: right;
    padding: 0;
    margin: 8px 4px 8px 0;
}
.shareBtnContainer
{
    margin: 10px 0px 0px 15px;
    float: right;
    cursor: pointer;
}
.icon-share
{
    color: #999;
}
.icon-share:hover
{
    color: #333;
}
.mobileGeocoderIcon
{
    display: none;
    /*color: #999;*/
}
.mobileGeocoderIcon:hover
{
    color: #333;
}
.geocoder-mobile
{
    float: left;
    width: 75%;
}

.esriRTL .geocoder-mobile
{
    float: right;
}

.geocoder-mobile .esriGeocoderContainer
{
    width: 100%;
}

.geocoder-mobile .esriGeocoder
{
    border: 1px solid #ccc;
}

.geocoder-mobile .esriGeocoder input
{
    width: 75%;
}

.close-geocoder-button
{
    float: left;
    width: 60px;
    padding: 1px 0;
    line-height: 36px;
    height: 36px;
    color: #999;
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}

.esriRTL .close-geocoder-button
{
    float: right;
    margin-left: 0;
    margin-right: 10px;
}

.close-geocoder-button:hover
{
    color: #333;
}

.mobile-locate-box-hidden
{
    display: none;
    position: absolute;
    z-index: 460;
    left: 0;
    top: 44px;
    width: 100%;
}

.esriRTL .mobile-locate-box-hidden
{
    left: auto;
    right: 0;
}

.mobile-locate-box-hidden .mobile-search-container
{
    padding: 12px 15px;
    background: #fff;
}

.icon-right
{
    float: right;
    cursor: pointer;
}
.button-container
{
    text-align: center;
    font-size: 22px;
    margin: 12px 5px;
}

#panelHeader{
    font-size:16px;
}

@media screen and (max-width: 680px)
{
    .locateBox
    {
        display: none;
    }

    .mobile-locate-box-display, .mobileGeocoderIcon, .geocoder-mobile
    {
        display: block !important;
    }

    .mobile-locate-box-hidden
    {
        display: none;
    }

    #mobileGeocoderIcon
    {
        display: block;
    }

    .geocoder-mobile .esriGeocoder
    {
        width: 100%;
    }

    .appTitle
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 65%;
    }

}
/*copied from style.css*/
.map-link
{
    display:none !important;
}

@media screen and (min-width: 767px)
{
    .tab-text
    {
        display:none;
    }
}

@media screen and (max-width: 767px)
{
        .mapDiv .esriSimpleSlider 
    {
        display: none;
    }

    .clearfix:after 
    {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
	}
	
	.sortOptionDiv 
	{
        width: 100%;
        padding: 10px;
    }
	
    #mapLayoutContainer
    {
        display:none;
    }
    
    .leftPanelContainer
    {
        width:100%;
        position:relative;
    }
    
    .navtabs
    {
        width:100%;
        position:absolute;
        bottom:0px; 
        z-index:999999;
        border-top: 1px solid #ddd; 
    }
    
    .nav-tabs  li
    {
        float:left !important;
    }
    
    .nav-tabs li  a 
    {
        position: relative;
        display: block;
        padding: 10px 22px;
        margin-bottom:0px !important;
        font-size: 22px;
    }
    
    .left_text
    {
        float:left;
        margin-right:5px;
    }
    
    .right_box
    {
         display:block;
    }
    
    .mainContainer .dijitContentPane, .leftPanelContainer 
    {
        overflow:hidden;
    }
    
    .formListContent
    {
        height:150px;
    }
    
    .map-link
    {
        display:block !important;
    }
    
    .tab-text
    {
        display: block;
        font-size: 11px;
        margin-top: 6px;
    
    }
    
    .nav-tabs.nav-justified > li > a > span.glyphicon
    {
        display:block;
    }

    .featureDetailsContainer
    {
        width: 90%;
        margin: 0px auto;
        left: 50%;
        position: fixed;
        bottom:75px;
        margin-left:-45%;
    } 
    
}
