<div class="widgetContent">
    <div data-dojo-type="dijit/Dialog" id="browse-id-dialog" title="${i18n.title}" draggable="false" execute="">
        <div data-dojo-attach-point="formNode" class="esriItemLinks dijitDialogPaneContentArea">
            <div id="browse-id-box">
                <div class="esriFloatLeading esriLeadingMargin1">
                    <select data-dojo-attach-point="_filterSelect" data-dojo-type="dijit/form/Select" class="filterSelect"
                        sortbylabel="false">
                    </select>
                </div>
                <div class="search esriFloatTrailing esriTrailingMargin1">
                    <div id="search-form">
                        <input class="esriSearchBox" type="text" data-dojo-type="dijit/form/TextBox" trim="true"
                            id="browse-id-search-box" data-dojo-attach-point="searchText" data-dojo-attach-event="onKeyPress:_onSearchKeyPress,onFocus:_onSearchBoxFocus,onBlur:_onSearchBoxBlur"
                            alt="${i18n.searchTitle}" title="${i18n.searchTitle}" placeholder="${i18n.placeholder}" />
                        <div class="esriLeadingMargin13 esriSearchButton icon-search-1" id="search-box_submit" alt="${i18n.searchTitle}"
                            title="searchTitle" data-dojo-attach-point="searchButton"> <!--data-dojo-attach-event="onclick:_onSearchClick">-->
                            </div>
                    </div>
                </div>
                <div data-dojo-attach-point="gallery"
                    id="gallery">
                </div>
            </div>
        </div>
        <div class="submitButtons dijitDialogPaneActionBar esriPositionRight0">
            <input data-dojo-type="dijit/form/Button" name="ok" class="ok esriFloatTrailing calcite blue"
                type="button" data-dojo-attach-event="onClick:onClose" label="${i18n.ok}">
            <input data-dojo-type="dijit/form/Button" name="cancel" class="cancel esriFloatTrailing"
                type="button" data-dojo-attach-event="onClick:onCancel" label="${i18n.cancel}">
        </div>
    </div>
</div>
