<div class="container" data-dojo-attach-point="userMode">
    <div class="row">
        <div class="col-xs-12">
            <div data-dojo-attach-point="statusAlert"></div>

            <div class="jumbotron">
                <img data-dojo-attach-point="appLogo" alt="Logo" class="img-responsive img-rounded" />
                <h1 data-dojo-attach-point="appTitle">
                    ${nls.user.defaultTitleText}
                </h1>
                <p data-dojo-attach-point="appDescription">
                    ${nls.user.defaultDescriptionText}
                </p>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="row">
        <div data-dojo-attach-point="erroMessageDiv"></div>
        <div class="col-xs-12 col-sm-7">
            <h2>
                ${nls.user.geoFormGeneralTabText}</h2>
            <form role="form" data-dojo-attach-point="userForm">
            </form>
        </div>
        <div class="col-xs-12 col-sm-5">
            <h2>
                ${nls.user.locationInformationText}</h2>
            <p>${nls.user.locationDescription}</p>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#myLocation" data-toggle="tab">${nls.user.myLocationText}</a>
                </li>
                <li><a href="#address" data-toggle="tab">${nls.user.addressText}</a> </li>
                <li><a href="#coordinates" data-toggle="tab">${nls.user.cooridnatesText}</a> </li>
            </ul>
            <form role="form" class="myLocationOptions">
                <div class="tab-content">
                    <div id="myLocation" class="tab-pane active">
                        <div class="form-group">
                            <div>
                                <div class="inline-block">
                                    <div data-dojo-attach-point="myLocation" class="btn btn-default">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="address" class="tab-pane">
                        <div class="form-group">
                            <div data-dojo-attach-point="geocodeAddress">
                            </div>
                        </div>
                    </div>
                    <div id="coordinates" class="tab-pane">
                        <div data-dojo-attach-point="coordinatesContainer" class="form-group">
                            <div>
                            <input data-dojo-attach-point="XCoordinate" class="form-control inputCoorninates clearfix"
                                type="text" placeholder="${nls.user.placeholderLatitude}" />
                            <input data-dojo-attach-point="YCoordinate" class="form-control inputCoorninates clearfix"
                                type="text" placeholder="${nls.user.placeholderLongitude}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="mapDiv">
            </div>
            <div id="coordinatesContainer">
                <span class="text-muted" id="coordinatesValue"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div id="onlineStatus">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                ${nls.user.submitInformationText}</h2>
            <div class="form-group">
                <div class="submit-area">
                    <p>
                        ${nls.user.submitInstructions}</p>
                   <!-- <button type="button" data-dojo-attach-point="submitButton" class="btn btn-primary ">
                        ${nls.user.submitButtonText}</button>-->
                    <button type="button" data-dojo-attach-point="submitButton" data-loading-text="Loading..." class="btn btn-primary">
                        ${nls.user.submitButtonText}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- col for tabs -->
</div>
